.vs/
.idea/
*.suo
*.user
*.userprefs
*.log
*.pdb
*.opendb
*.tlog


[Dd]ebug/
[Rr]elease/
[Oo]utput/
build/
bld/
bin/
obj/


*.nupkg
*.snupkg
*.dll
*.exe
*.intelliSense.json
*.json.log
*.pfx
*.runtimeconfig.json
*.deps.json
package-lock.json


*.csproj.user
*.resharper
*.vspscc
*.vssscc
_ReSharper.*/
*.*.DotSettings
*.DotSettings.user
.idea/
.DS_Store

TestResults/
coverlet/


*.mdf
*.ldf


*.bak
*.cache
*.sqlite
*.db